name: CI


on:

  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:

  build:
    
    runs-on: ubuntu-latest

    steps:
      
      - uses: actions/checkout@v4
      - name: Build image
        run: docker build -t handes007/portfolio .
 
      - name: Push image
        run: |
          docker login -u handes007 -p ${{ secrets.REGISTRY_PASSWORD}}
          docker push handes007/portfolio